body{
  min-height: 100vh;
  margin: 0;
  padding: 0;
  justify-items: center;
  background:radial-gradient(125% 125% at 50% 10%,#000 40%,#63e 100%)
}
#root{
  width: 100%;
}
.topimg{
  animation: 2s infinite ease-in-out rotateimg;
  cursor: pointer;
}
.topimg:hover{
  animation: 0.5s infinite ease-in-out rotateimg;
}
@keyframes rotateimg{
  12%{
    transform: rotateY(45deg);
  }
 25%{
  transform: rotateY(90deg);
 }
 37%{
  transform: rotateY(135deg);
 }
 50%{
  transform: rotateY(180deg);
 }
 62%{
  transform: rotateY(225deg);
 }
 75%{
  transform: rotateY(270deg);
 }
 88%{
  transform: rotateY(315deg);
 }
 100%{
  transform: rotateY(360deg);
 }
}

@media (max-width:540px){
  .upperbody{
    width:90%;
  }
  .passwords{
    width: 100%;
  }
  .tablecont{
    overflow-x: scroll;
    scrollbar-width: none;
  }
}